*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

/* HEADER */
header {
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  margin: auto;
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat; 
  background-image: url(foto.jpg);
}
nav {
  float: right;
  margin: auto;
  margin-right: 43px;
}
ul {
  float: right;
  list-style: none;
  margin: 14px;
  display: inline-block;
}
li {
  width: 100px;
  text-align: center;
  padding: 30px 0;
  display: inline-block;
}
ul, li, a {
  text-decoration: none;
  color: blanchedalmond;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
  font-family: Simplicity;
  font-size: 30px;
}
ul li a:hover {
  background-color: blanchedalmond;
  color: #784763;
  border-radius: 40px;
  transition-duration: 0.5s;
}
h1, h3 {
  align: center;
  color: blanchedalmond;
  text-align: right;
  font-family: sans-serif;
  margin-right: 100px;
}
h1 {
  font-size: 125px;
  font-family: Snubnose DEMO;
  text-shadow: 3px 3px #784763;
  margin-bottom: 20px;
  letter-spacing: 5px;
}
h3 {
  font-size: 37px;
  text-shadow: 1px 1px #784763;
  font-family: Simplicity;
}
.isi-foto {
  margin-top: 10%;
}

/* LOGO */
.logo {
  width: 200x;
  float: left;
  height: auto;
  margin-left: 40px;
 }
.logo img {
  width: 210px;
  height: auto;
}

/* RESPONSIVE */
@media (max-width: 700px){
  p{
    text-align: left;
    font-size:10px;
    color:#e7530f;
  }
}
@media (max-width: 1000px){
   p{
    text-align: justify;
    font-size:10px;
    color:darkred;
   }
 }
